header {
  background-color: #e7e6e6;
}

.header-ul li {
  margin: 0px 12px;
  position: relative;

}
.header-ul li:nth-child(1) a{
  color: #5252f0;
}
.mlkl::before{
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #5252f0;
}

.header-ul li a {
  font-size: 13px;
  color: #8b8a8a;
  font-weight: 600;
}
.header-ul li::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  height: 3px;
  width: 0%;
  background-color: #5252f0;
  opacity: 0;
  visibility: hidden;
  
  transition: all .7s;
}
.header-ul li:hover::after{
  width: 100%;
  opacity: 1;
  visibility: visible;
 
}
.header-ul li ul {
  padding: 0;
  position: absolute;
  top: 185%;
  left: -49%;
}
.header-ul li ul li{
  list-style: none;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
  
 
}
.header-ul li:hover ul li{
  opacity: 1;
  visibility: visible;
} 
.header-ul li ul li a{
  padding: 10px;
  text-decoration: none;
  color: #fff !important;
  background: #0d6efd;
  outline: #fff solid 10px;

}
.btn-ex {
  padding: 0;
  width: 157px;
  height: 32px;
  border-radius: 41px;
  border: transparent;
  outline: transparent;

  background: #fff;
  font-weight: 500;

  line-height: 29px;
  margin: -0px 10px 0px 10px;
  color: #4c74ed;
  text-transform: capitalize;
  font-size: 15px;
  position: relative;
  z-index: 1;
}
.btn-ex::after{
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0%;
 background-color: rgb(19, 59, 238);
 border-radius: 41px;
 z-index: -1;

 opacity: 0;
 visibility: hidden;
 transition:  .4s;
}
.btn-ex:hover::after{
  width: 100%;
  opacity: 1;
  visibility: visible;
}
.btn-ex:hover{
  color: #fff;
}
.banner{
    background-color: #edf6ff;
}
.right-side-img{
  position: relative;
  overflow: hidden;
}
.left-side-content {
  padding: 110px 0px 100px 41px;
}
.left-side-content .custom-btn {
  background-color:#0d6efd ;
  color: #fff;
  border-radius: 40px;
  outline: none;
  border: none;
  border: 1px solid #0d6efd;
}
.custom-btn:hover{
  background: #fff;
  color: #5252f0;
  border: 1px solid #0d6efd;
}
.right-side-img img {
  width: 480px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  top: -102px;
  overflow: hidden;
  left: 100px;
  bottom: 0;
}
.jjf{
  width: 70%;
}
.sds{
  position: relative;
}
.sds::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 2px;
  height: 3px;
  width: 72px;
  background: #9d8fec;
}
.iu {
  color: #ad9aec;
  font-size: 19px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.op-card {
  background-color: #f9fcff;
  box-shadow: 0px 0px 10px #ddd;
  padding: 23px;
  transition: .7s;
  border-radius: 5px;
}
.op-card h4 {
  font-size: 16px;
}
.op-card span {
  background-color: #5252f0;
  
  display: inline-block;
  color: #fff;
  font-size: 30px;
  border-radius: 50% 50% 50% 0%;
  margin-bottom: 19px;
  transition: .7s;
}
.op-card p{
  color: #000;
}
.op-card span i {
  height: 50px;
  width: 41px;
  margin-left: 10px;
  line-height: 52px;
}
.op-card:hover h4{
  color: #fff !important;
}
.op-card:hover #jks{
  color: #f9fcff;
}
.op-card:hover{
  background: #4c74ed;
}
.op-card:hover span{
  background-color: #fff;
  color: #4c74ed;
}
.lk{
  position: relative;
}
.lk::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 27px;
  background: #5252f0;
  transition: .7s;
}
.op-card:hover .lk::after{
  width: 50px;
  background: #fff;
}
.feature{
  background: url(./video-img-template/service-patern.png) no-repeat;
  background-position: left bottom;
}
footer{
  background: linear-gradient(rgba(46, 63, 158, 0.777), rgba(46, 63, 158, 0.858)) ,url("https://i.ibb.co/qMJXPc6/video-bg.jpg");
  background-size: cover;
  padding: 160px 0px;

  margin-top: 20px;
}
.njk{
  width: 60%;
  margin: auto;
  margin-top: -100px;
}
.mbv{
  position: relative;
}
.mbv::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 237px;
  right: 0;
  height: 3px;
  width: 16%;
  background-color: #fff;
}
footer .njk h6{
  font-size: 13px;
}
.animaation {
  height: 50px;
  width: 50px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
  margin-left: 45%;
  margin-top: 10%;
  transition: .5s;
  position: relative;
}
.animaation span i{
  color: #5252f0;
  transition: .5s;
}
.animaation:hover{
  background-color: #4c74ed;
}
.animaation:hover span i{
  color: #fff;
}
.animaation::before{
  content: "";
  position: absolute;
  border: 1px solid #fff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  animation-name: omar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.animaation::after{
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 1px solid #fff;
  height: 45px;
  width: 45px;
  animation-name: omar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes omar{
 
  0%{
    opacity: 0;
    transform: scale(1);
    
  }
  25%{
    transform: scale(1.5);
    opacity: 0.4;
  }
  50%{
    transform: scale(1.7);
    opacity: 0.7;
  }
  75%{
    transform: scale(1.9);
    opacity: 0.9;
  }
  100%{
    transform: scale(2.1);
    opacity: 0;
  }

}